---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {% if page.feature_image %}
  <figure class="feature-image">
    <img src="{{ page.feature_image }}" alt="{{ page.title }}">
    {% if page.feature_text %}
      <figcaption>{{ page.feature_text }}</figcaption>
    {% endif %}
  </figure>
{% endif %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
